* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background: linear-gradient(to bottom right,#ffc400, #6f13c6);
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #000000;
}

.controls {
    display: flex;
    gap: 1rem;
}

.controls button {
    padding: 5px 10px;
    border-radius: 5px;
    background: #e2e2e2;
    border: 2px solid black;
}

.gameboard {
    border: 1px solid #000000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 2.5rem;
    width: 25rem;
    height: 25rem;
}

.gameboard .cell {
    border: 1px solid #000000;
    background: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    border: 2px solid black;
    width: 25rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    background: #e2e2e2;
}

.start-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 1rem;
    width: 30rem;
    height: 10rem;
    margin-left: -15rem;
    margin-top: -5rem;
}

.start-dialog form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
}

.playerOne, .playerTwo {
    display: flex;
    gap: 1rem;
}

.form-controls button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid black;
}